.timeline{
    margin:0;
    padding:0;
    font-family: 'poppins';
    box-sizing: border-box;
    color: black;
  }
  .timeline{
    position: relative;
    max-width:1200px;
    margin:100px auto;
  
  }
  .timecontainer{
    padding: 10px  50px;
    position:relative;
    width:50%;
    opacity: 0;
    animation: movedown 1s linear forwards;
    transition: all 0.3s ease;
  }
  @keyframes movedown{
    0%{
      opacity:1;
      transform: translateY(-30px);
    }
    100%{
      opacity:1;
      transform:translateY(0px);
    }
  }
  
  
  .text-box{
    padding:20px 30px;
    position: relative;
    border-radius: 6px;
    background: #fff;
    font-size:15px;
    transition: all 0.3s ease;
  }
  .left-container{
    left: 0;
    animation-delay: 1s;
  }
  .right-container{
    left: 50%;
    animation-delay: 2s;
  }
  .left-container2{
    left: 0;
    animation-delay: 3s;
  }
  .timecontainer img{
    width:40px;
    position: absolute;
    border-radius: 50%;
    right:-20px;
    top:32px;
    z-index:10;
    height: 40px;
  }
  .right-container img{
    left:-20px;
  }
  .timeline::after{
    content:'';
    position: absolute;
    width:6px;
    height:100%;
    background: #f5f3f3;
    top:0;
    margin-left: -3px;
    left:50%;
    animation: moveline 3s linear forwards;
    
  }
  @keyframes moveline {
    0%{
      height:0%;
    }
    100%{
      height:100%;
    }
    
  }
  .left-container-arrow{
    height:0;
    width: 0;
    position: absolute;
    top:28px;
    z-index: 1;
    border-top:15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left:15px solid #fff ;
    right: -15px;
  
  
  }
  .right-container-arrow{
    height:0;
    width: 0;
    position: absolute;
    top:28px;
    z-index: 1;
    border-top:15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right:15px solid #fff ;
    left: -14px;
  }
  .timecontainer h6{
    font-size: 25px;
  }
  /*.timecontainer h2{
    color:rgb(27, 24, 24);
    border-color:rgb(27, 24, 24);
  }*/
  .text-box:hover{
    box-shadow: 0 0 20px 20px purple;
    transform: scale(1.05);
  }
  .timecontainer h3{
    color: rgb(36, 35, 33);
    
  }
  .timecontainer h4{
    color: rgb(36, 35, 33);
    font-size: x-large;
    font-weight: lighter;
  }
  .timecontainer{
    opacity:0;
    transition: all 1s;
  }
  @keyframes appear{
    from{
      opacity:0;
      scale:0.5;
    
    }
    to{
      opacity:1;
      scale:1;
    }
  }
  .timeline{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
  }